a {
    color: #7D1935;
}

div.container {
    background-color: #F5F3EE;
    border: 1px solid gray;
    resize: both;
    overflow: auto;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: #7D1935;
    clear: left;
    text-align: center;
}

nav {
    position: fixed;
    top: 175px;
    float: left;
    max-width: 200px;
    margin: 0;
    padding: 0.5em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
}

doc_id {
	font-size:1.2em;
  font-weight:bold;
}

article {
    width: $doc_width$;
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    display: block;
    overflow: hidden;
}

article.disable-links {
    pointer-events: none;
}

#meta_table tr, th, td {
    text-align: left;
    font-family: arial, sans-serif;
    font-size: 12px;
}

#searchField {
    background-color: #F5F3EE;
    color: #7D1935;
    width: 80%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 0px 12px 0px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}
