<!DOCTYPE html>
<html>
  <head>
    <style>
      $CSS$
    </style>
  </head>

  <body>
    <div class="container">

    <header>
      <a name="top"></a>
      <h1>$HEADER$</h1>
    </header>

    <nav>
            <input type="text" id="searchField" onkeyup="searchFunction()" placeholder="<keyword>">

      <ul>
        $NAVIGATION$
      </ul>
    </nav>

    $CONTENT$

    </div>
  </body>
</html>


<script>
function searchFunction() {
  // Declare variables
  var input, filter, elements, n;
  input = document.getElementById("searchField");
  filter = input.value.toUpperCase();
  elements = document.getElementsByTagName('article');

  n = 0;
  navs = [];
  for (var i = 0; i < elements.length; i++) {
      if (elements[i].textContent.toUpperCase().indexOf(filter) > -1) {
          n++
          elements[i].style.display = 'block';
          // terrible hack. find out how to properly disable link
          // or better, break body into parts for categories
          elements[i].children[0].setAttribute("name", elements[i].children[0].getAttribute("nav"));
      }
      else {
          elements[i].style.display = 'none';
          elements[i].children[0].setAttribute("name","no");
      }
  }

  document.getElementsByTagName('ndoc')[0].innerHTML = n;
}
</script>
